
@media (max-width: 768px) {

    .header .container {
        height: 70px;
    }

    .nav-left {
        display: none;
    }

    .logo {
        position: static;
        transform: none;
    }

    .header .container {
        justify-content: space-between;
    }

    .logo a {
        font-size: 20px;
    }

    .nav-actions button {
        font-size: 22px;
    }
    .hero {
        padding: 50px 0;
    }

    .hero-container {
        gap: 40px;
    }


    .hero-description {
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 30px;
    }

    .btn-primary {
        padding: 14px 22px;
        font-size: 0.95rem;
        display: block;
        text-align: center;
    }

    .hero-image img {
        border-radius: 24px;
    }
    .benefits {
        padding: 70px 0;
    }

    .benefits .section-header {
        margin-bottom: 50px;
    }
    .benefits .section-header h2 {
        font-family: "Figtree", sans-serif;
        font-weight: normal;
        
    }

    .section-title {
        font-size: 2rem;
    }

    .section-subtitle {
        font-size: 1rem;
    }

    .feature-item h3 {
        font-size: 1.2rem;
    }

    .feature-card {
        padding: 18px;
    }

    .feature-card p {
        font-size: 0.95rem;
        line-height: 1.6;
    }
    .treatments {
        padding: 70px 0;
    }

    .panel-header {
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }

    .panel-content {
        flex-direction: column;
    }

    .featured-card {
        width: 100%;
    }

    .featured-card img {
        height: 280px;
    }

    .small-cards {
        grid-template-columns: 1fr;
    }

    .panel-header h3 {
        font-size: 1.6rem;
    }
    .popular-treatments {
        padding: 70px 0;
    }

    .product-grid {
        grid-template-columns: 1fr;
    }

    .product-content h3 {
        font-size: 1.5rem;
    }

    .product-image img {
        width: 180px;
    }
    .how-it-works {
        padding: 70px 0;
    }

    .step-card {
        min-height: 320px;
    }

    .step-heading h3 {
        font-size: 1.25rem;
    }

    .step-number {
        width: 36px;
        height: 36px;
        font-size: 1rem;
    }

    .step-content p {
        font-size: 0.95rem;
    }
    .faq-section{
        padding:70px 0;
    }

    .faq-question{
        font-size:1rem;
        padding:20px;
    }

    .faq-icon{
        font-size:1.5rem;
    }
    .reviewSwiper{
        padding-left: 0;
    }
    .nav-left{
        display:none;
    }

    .menu-toggle{
        display:block;
    }
    .contact-support{
        padding: 60px 0;
    }
}
    @media (max-width: 767px) {

        .treatment-grid {
            grid-template-columns: 1fr;
        }
    
        .panel-content {
            flex-direction: column;
        }
    
        .featured-card {
            width: 100%;
            padding: 16px;
        }
    
        .featured-card img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    
        .small-cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 14px;
        }
    
        .small-card {
            width: 100%;
        }
    
        .small-card img {
            width: 100%;
            height: 130px;
            object-fit: cover;
        }
    }

@media (min-width: 768px) {

    .reviews-section .section-header h2 {
        font-size: 40px;
        color: var(--white);
        font-family: "Figtree", sans-serif;
        font-weight: 600;
    }

    .reviews-section .section-header p {
        font-size: 2rem;
        color: var(--white);
        font-family: "Figtree", sans-serif;
        font-weight: 300;
    }

}

@media (max-width: 992px) {

    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-title {
        font-size: 2.8rem;
        margin-bottom: 20px;
        text-align: left;
    }

    .hero-description {
        max-width: 650px;
        margin-inline: auto;
    }
    .benefits-wrapper {
        flex-direction: column;
    }

    .benefits-image,
    .benefits-content {
        width: 100%;
    }

    .section-subtitle {
        font-size: 1.4rem;
    }
    .steps-grid {
        grid-template-columns: 1fr;
    }

    .step-card {
        min-height: 380px;
    }
    .contact-wrapper {
        flex-direction: column;
        text-align: center;
        gap:0px;
    }

    .contact-content {
        max-width: 100%;
        top: 0px;
    }

    .contact-icons {
        justify-content: center;
    }

    .bubble-top,
    .bubble-bottom,
    .logo-bubble {
        display: none;
    }
    .contact-image{
        top:0;
    }
    .review-link{
        text-align: center;
    }
}

@media (max-width: 1200px) {

    .treatment-grid {
        grid-template-columns: 1fr;
    }
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .reviews-section .section-header h2, p {
        color: var(--white);
        font-family: "Figtree", sans-serif;
       
    }
}

@media (min-width: 1200px) {

    .reviews-wrapper {
        overflow: visible;
    }

    .review-card {
        flex: 1;
    }
}