:root {
    --primary: #0f3158;
    --text: #14375f;
    --white: #ffffff;
    --shadow: 0 2px 12px rgba(0,0,0,.05);
    --transition: .3s ease;
    --container-width: 1400px;
    --green:#00B67A;

    
}